@using FinalProject_ABBOTT.Models;

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FinalProject_ABBOTT</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FinalProject_ABBOTT.styles.css" asp-append-version="true" />
</head>
<body>
    <div>
    <nav class="navbar navbar-expand navbar-light bg-light ps-3 pe-3">
           <div>
                <ul class ="navbar-nav me-auto">
                   <li class="nav-item">
                        <a class="nav-link"
                        asp-action="Index" asp-controller="Home"
                        >Home Page</a>
                   </li>
               </ul>
           </div>
           <div>
               <!--Login and Logout suff-->
                   @using Microsoft.AspNetCore.Identity
                   @inject SignInManager<User> signInManager
                   
                    <!--anonymous user-->
                    <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <!--Removed the register page, partially because it is not realistic for this type of program, and is also possibly non functional due to it being unable to transition to Admin Area-->
@*                         <a class="nav-link" asp-action="Register" asp-controller="Account" asp-area="">
                            <span class="fas fa-edit"></span>&nbsp;Register
                        </a> *@
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Index" asp-controller="Home" asp-area="Admin">Log In</a>
                    </li>
                    </ul>
           </div>
    </nav>
    <header>
    </header>
        <main>
            @RenderBody()
        </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - FinalProject_ABBOTT -
        </div>
    </footer>
    </div>
</body>
</html>
