@*
    A summary page that allows admins to see statistics
*@

@{
    ViewData["Title"] = "Summary Page";
}

<div class="text-center">
    <h1 class="display-4">Summary Page of SkillsUSA Nebraska @DateTime.Now.Year</h1>

    <h2>Total contestants:</h2>
    <h2>Amount of contestants checked in:</h2>
    <h2>Amount of contestants not checked in:</h2>
    <h1>[Contestants Group By Divisions]</h1>

    <h1>[List of non-checked in contestants]</h1>

</div>
