<!--So I can use models-->
@using FinalProject_ABBOTT.Models;
@*
    The page for deleting a division
*@
<!--for division data-->
@model Division
@{
    ViewData["Title"] = "Delete Contestant";
}

<div class="alert-danger mt-4 p-4">
    <h1>Confirm Deletion</h1>
    <p>Are you sure you want to remove the @Model.Name division?</p>

    <form asp-action="DeleteDivision" method="post">
        <input type="hidden" asp-for="DivisionID" />

        <button type="submit" class="btn btn-primary">Delete</button>
        <a asp-action="DivisionList" class="btn btn-primary">Cancel</a>
    </form>
</div>
