@*
	PROGRAM TITLE: Final Project for Web programming
	AUTHOR: Nolan Abbott
	START DATE: [04/15/2026]
	END DATE [0/0/2026]
	DESCRIPTION: [Description Here]
	USAGE/ISSUES: Not available
	NOTE: If DB is defaulting to 1000, set the DB size to whatever number is in the DB with this command:
			DBCC CHECKIDENT ('[tablename]', RESEED, 0);
			GO

	Side Note: Trying to minimize use of AI for this project the list below shows what I have used it for so far:
	- The initial seeding of pho-data (not typing all that out myself).
	- EFCore being a pain in the butt, solution was to uninstall a specific package called "Entity Framework"".
	- Had to re-do database, attempted to copy what the Sportspro does for integrating foreign keys; did not work.
	  Upon reviewing the old code I did and the code that I had AI generate, I literally have no clue what the difference is???
	- Used it for trouble shooting the filters. It turns out the problem was related to how I was passing the default options.
	  UPDATE TO ABOVE ONE: That was not the issue and AI was leading me in circles; the real issue was that I had mispelled a name :(
						   This took two days of work, but allowed me to create better classes.

*@

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">We ARE SkillsUSA</h1>
</div>

@*
	LAST MILESTONE: Summary page now works as intended.

	WHAT'S NEXT: Try to fix stuff

	OVERARCHING GOAL: Get better functionalities and looks now.

	Planned features:
	- adding contestant and removing them from the division contestant count.
	- Cookies are used to save filter options.

	KNOWN BUGS:
	It is possible to sidestep deletion measures for filled divisions by entering the id into the searchbar.
	Data for ContestantID (and other IDs probably) does not fix itself based how many contestants there actually are.
	Tempdata for delete shows regardless whether or not a contestant is deleted, check back on previous project to see how to bypass this.
	Does not validate data to see if the default selection has been chosen.

	FEATURES REQUIRED
	Register contestants (DONE)
	Manage Contestant information (DONE)
	Track Check-in status (DONE)
	Organize contestants by division / event (DONE)
	view summary statistics and reports (DONE)
	custom routing or attribute routing (DONE)
	mobile-friendly (CLOSE ENOUGH)
	validation 
	tempdata (DONE)
	Session State and cookies example (DONE)

	check optional enhancements if you want to
*@