@*
	PROGRAM TITLE: Final Project for Web programming
	AUTHOR: Nolan Abbott
	START DATE: [04/15/2026]
	END DATE [0/0/2026]
	DESCRIPTION: [Description Here]
	USAGE/ISSUES: Not available
	NOTE: If DB is defaulting to 1000, set the DB size to whatever number is in the DB with this command:
			DBCC CHECKIDENT ('[tablename]', RESEED, 0);
			GO

	Side Note: Trying to minimize use of AI for this project the list below shows what I have used it for so far:
	- The initial seeding of pho-data (not typing all that out myself).
	- EFCore being a pain in the butt, solution was to uninstall a specific package called "Entity Framework"".
	- Had to re-do database, attempted to copy what the Sportspro does for integrating foreign keys; did not work.
	  Upon reviewing the old code I did and the code that I had AI generate, I literally have no clue what the difference is???
	- Used it for trouble shooting the filters. It turns out the problem was related to how I was passing the default options.
	  UPDATE TO ABOVE ONE: That was not the issue and AI was leading me in circles; the real issue was that I had mispelled a name :(
						   This took two days of work, but allowed me to create better classes.
*@

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">We ARE SkillsUSA</h1>
    <p></p>
</div>

@*
	LAST MILESTONE: Made the filter system work mostly, just checkout and checkin is not working.

	WHAT'S NEXT: Make users actually log in now, reference chapter 16 stuff, starting at the main layout.

	OVERARCHING GOAL: Work on advanced functionalities now, like filtering, summary pages and checking in.

	Planned features:
	- adding contestant and removing them from the division contestant count.

	KNOWN BUGS:
	It is possible to sidestep deletion measures for filled divisions by entering the id into the searchbar.
	Data for ContestantID (and other IDs probably) does not fix itself based how many contestants there actually are.

	FEATURES REQUIRED
	Register contestants (DONE)
	Manage Contestant information (DONE)
	Track Check-in status (DONE)
	Organize contestants by division / event (DONE)
	view summary statistics and reports
	custom routing or attribute routing
	mobile-friendly
	validation
	tempdata (DONE)
	Session State and cookies example

	check optional enhancements if you want to
*@