<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FinalProject_ABBOTT</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FinalProject_ABBOTT.styles.css" asp-append-version="true" />
</head>
<body>
    <div>
        <nav class="navbar navbar-expand navbar-light bg-light ps-3 pe-3">
            <div>
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link"
                           asp-action="Index" asp-controller="Home">Home Page</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                        asp-action="ContestantList" asp-controller="Contestant" asp-area="Admin">Contestant List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                        asp-action="DivisionList" asp-controller="Division" asp-area="Admin">Division List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                        asp-action="SummaryPage" asp-controller="Home" asp-area="Admin">Summary Page</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           asp-action="Index" asp-controller="Home" asp-area="">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
        <main>
            @RenderBody()
        </main>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2026 - FinalProject_ABBOTT -
            </div>
        </footer>
    </div>
</body>
</html>
