/* HTML STYLE RULES */

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

/* BODY STYLE RULES */

body {
  margin-bottom: 60px;
}

/* MAIN STYLE RULES */

main {
    padding-right: 15em;
    padding-left: 15em;
}

/* MEDIA QUERY */

/* 1024px tablet (horizontal) */
@media only screen and (max-width: 1024px){
    body{
        height: auto;
    }
    
}

/* 770px phone (vertical) */
@media only screen and (max-width: 770px){
    body{
        margin-left: 0;
        margin-right: 0;
        text-align: center;
        font-size: small;
    }
    /* disable the default filters */
    #filters{

    }

    /* destroy padding */
    main {
        padding-left: 2em;
        padding-right: 2em;
    }


    /* recenter contestant table */
    #contestantTable{
        margin-left: -10em;
    }


    /* recenter division table */

    
}